### VS Code
.vscode

### Local resources
.DS_Store

### Node template
logs
*.log
node_modules/
node_modules
app/node_modules/

### Working Resources
__resources/

### App Build Files
app/pages/++original/
app/pages/microscopic/
app/pages/tiny/
app/pages/small/
app/pages/medium/
app/pages/large/
app/pages/png/
app/pages/svg/
app/pages/++app/album-app.js.map

### Gallery Data
gallery-actual/
gallery/
src/remote-urls.json
src/site-config.json
