### VS Code
.vscode

### Local resources
.DS_Store

### Node template
logs
*.log
node_modules/
node_modules
app/node_modules/

### Working Resources
app/pages/__original/
app/pages/microscopic/
app/pages/tiny/
app/pages/small/
app/pages/medium/
app/pages/large/
app/pages/album-meta.json


### Gallery Data
gallery-active/
gallery-static/